In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [3]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

## Q2: Change indexes to 11, 12, 13.

In [6]:
ser.iloc[0] = 11
ser.iloc[1] = 12
ser.iloc[2] = 13

## Q3: Retrieve First and second elements.

In [8]:
ser.iloc[:2]

a    11
b    12
dtype: int64

## Q4: Add duplicate elements, then remove the duplication

In [16]:
new_row = {'a': 11}
ser2 = pd.Series(data=new_row, index=['a'])
ser.append(ser2)

a    11
b    12
c    13
a    11
dtype: int64

In [17]:
ser.drop_duplicates()

a    11
b    12
c    13
dtype: int64

## Q5: Create a Students DataFrame has three columns (ID, Name)

In [14]:
d = {'ID': [1, 2, 3], 'Name': ['Mansour', 'Abdullah', 'Hassan']}
df = pd.DataFrame(data=d)
df

   ID      Name
0   1   Mansour
1   2  Abdullah
2   3    Hassan

## Q6: Read educ_figdp_1_Data.csv file

In [20]:
df1 = pd.read_csv('tmdb_5000_movies.csv')
df1.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

## Q7: What is the difference between loc and slicing?
- loc use the index labels as references
- slice use the position as references